# api id and api hash (my.telegram.org)
# required
API_ID='38074255'
API_HASH='b24d8bf27bba4316a37c4bf2a7e9b9cf'

# pyrogram session string (@genstr_robot)
# required
SESSION='BQJE948ApCPSrd-nkcXXVar2udm37XsPY-vdHeomV1s4NVlEfK53CMNCQwRFzoKfOI7frsB6LCWu6mCGCqHnMjEVdAdpmLpKhCtSkSpGGiQMQtAZBvA1fE3wPNO8MsUja8gGvdjGSy449NiYd4W6JYEi0MVrozGWyYKC9wLfp-zpnX9wFKPUD-3n1AhsNm1iWsIPvFq625yzGrtPNpQnhXV2_AvtMu_Ix8A_9ZyEpfh_YV9DWLxEOPWZRwvGzQveNk5Aspe5MqCwRdomN6vVstEWfqSdiwC3_Ht9Mdce2bbIQZbVxRhJgyaMXJVG5zrPQFEu0MfUwbg3gKTxk3gn4harYbVO1gAAAAHwf61bAA'

# telegram bot token (from @botfather)
#optional
BOT_TOKEN='8712882922:AAELTAJ-fp_wUruqt-kuHMoUYv6dp9zIr6c'

# sudo user ids (separate with space)
# optional
SUDOERS=''

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='True'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
