# api id and api hash (my.telegram.org)
# required
API_ID=38074255
API_HASH=b24d8bf27bba4316a37c4bf2a7e9b9cf

# pyrogram session string (@genstr_robot)
# required
SESSION=BQJE948ArpgX1rRmpVMt7xRHr0unOA3PpktY16SzrFIiWczH7JO0ORwQW8BTi2ebhSgM3MV9Yrl2jiie9RiB23P09PCcTFcIh0sGw3T39hxiNwc92y7ydwd0WgUcB6kBKtKBxobNSebNpqFLOmt_hWZrnWxqSDRrlELResy3voSr3Cf6uq8V4vRuXPpkpN3TSPYN3-2SYpTFqZzbAC8QXm2jTJJWufwfEl6W6TlOo6Z1nP0hHjg9gz6TFqRcwnY8sqU1oaytYRhn9g1rZHbRCoxkuG3lu54z5woCLcB9Kwsf2Ma3oJWiVGYqE2ag_4z6rgPxKMZBWBdZoXBk3oObK8G7rbNDngAAAAHwf61bAA

# telegram bot token (from @botfather)
#optional
BOT_TOKEN=8712882922:AAE5yeeKqUL4YNczQEN8anNpayD2Z-Pysoc

# sudo user ids (separate with space)
# optional
SUDOERS=''

# command prefix (separate with space)
# optional
PREFIX='!'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
QUALITY='high'

# default stream mode for the bot in groups
# optional
STREAM_MODE='audio'

# if you want restrict user from playing in groups
# optional
ADMINS_ONLY='False'

# spotify vars (for playing spotify links or playlist)
# optional
SPOTIFY_CLIENT_ID=''
SPOTIFY_CLIENT_SECRET=''
